---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

import { Label, Lang, useTranslations } from "../i18n";

interface Props {
  project: CollectionEntry<"projects">;
}

const CATEGORTY_TO_ICON: Record<
  CollectionEntry<"projects">["data"]["category"],
  string
> = {
  app: "lucide:layout-grid",
  browserExtension: "lucide:chrome",
  cli: "lucide:terminal",
  chatBot: "lucide:bot-message-square",
  game: "lucide:gamepad-2",
};

const CATEGORTY_TO_TITLE: Record<
  CollectionEntry<"projects">["data"]["category"],
  string
> = {
  app: "Application",
  browserExtension: "Browser Extension",
  cli: "CLI",
  chatBot: "Chat Bot",
  game: "Game",
};

const LANG_TO_ICON: Record<
  CollectionEntry<"projects">["data"]["lang"],
  string
> = {
  typescript: "simple-icons:typescript",
  golang: "simple-icons:go",
  delphi: "simple-icons:delphi",
};

const LANG_TO_TITLE: Record<
  CollectionEntry<"projects">["data"]["lang"],
  string
> = {
  typescript: "TypeScript",
  golang: "Go",
  delphi: "Delphi",
};

const PLATFORM_TO_ICON: Record<
  Exclude<CollectionEntry<"projects">["data"]["platforms"], undefined>[number],
  string
> = {
  web: "lucide:globe",
  desktop: "lucide:monitor",
};

const PLATFORM_TO_TITLE: Record<
  Exclude<CollectionEntry<"projects">["data"]["platforms"], undefined>[number],
  string
> = {
  web: "Web",
  desktop: "Desktop",
};

const STACK_TO_ICON: Record<
  Exclude<CollectionEntry<"projects">["data"]["stack"], undefined>[number],
  string
> = {
  react: "simple-icons:react",
  svelte: "simple-icons:svelte",
  nextjs: "simple-icons:nextdotjs",
  fmx: "simple-icons:embarcadero",
  websocket: "lucide:unplug",
  pwa: "simple-icons:pwa",
};

const STACK_TO_TITLE: Record<
  Exclude<CollectionEntry<"projects">["data"]["stack"], undefined>[number],
  string
> = {
  react: "React",
  svelte: "Svelte",
  nextjs: "Next.js",
  fmx: "FireMonkey",
  websocket: "WebSockets",
  pwa: "Progressive Web App",
};

const INFRA_TO_ICON: Record<
  Exclude<CollectionEntry<"projects">["data"]["infra"], undefined>[number],
  string
> = {
  githubPages: "simple-icons:github",
  notion: "simple-icons:notion",
  vercel: "simple-icons:vercel",
  docker: "simple-icons:docker",
  terraform: "simple-icons:terraform",
};

const INFRA_TO_TITLE: Record<
  Exclude<CollectionEntry<"projects">["data"]["infra"], undefined>[number],
  string
> = {
  githubPages: "GitHub Pages",
  notion: "Notion",
  vercel: "Vercel",
  docker: "Docker",
  terraform: "Terraform",
};

const { project } = Astro.props;
const { Content } = await project.render();

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
---

<div>
  <div class="flex gap-2 items-center">
    <h2 class="text-3xl font-bold grow">
      {project.data.name}
    </h2>
    <a
      target="_blank"
      href={project.data.source}
      class="btn btn-ghost max-lg:btn-sm btn-circle"
    >
      <Icon class="size-5" name="lucide:code-2" />
    </a>
    {
      project.data.link && (
        <a
          target="_blank"
          href={project.data.link}
          class="btn btn-ghost max-lg:btn-sm btn-circle"
        >
          <Icon class="size-5" name="lucide:external-link" />
        </a>
      )
    }
  </div>
  <div class="flex flex-wrap gap-2 py-3 text-opacity-70">
    <div class="badge badge-ghost gap-2">
      <Icon name="lucide:calendar" />
      {project.data.createdAt.getFullYear()}
    </div>
    {
      project.data.platforms.map((platform) => (
        <div class="badge badge-ghost gap-2">
          <Icon name={PLATFORM_TO_ICON[platform]} />
          {PLATFORM_TO_TITLE[platform]}
        </div>
      ))
    }
    <div class="badge badge-ghost gap-2">
      <Icon name={CATEGORTY_TO_ICON[project.data.category]} />
      {CATEGORTY_TO_TITLE[project.data.category]}
    </div>
    <div class="badge badge-ghost gap-2">
      <Icon name={LANG_TO_ICON[project.data.lang]} />
      {LANG_TO_TITLE[project.data.lang]}
    </div>
    {
      project.data.stack?.map((stack) => (
        <div class="badge badge-ghost gap-2">
          <Icon name={STACK_TO_ICON[stack]} />
          {STACK_TO_TITLE[stack]}
        </div>
      ))
    }
    {
      project.data.infra?.map((infra) => (
        <div class="badge badge-ghost gap-2">
          <Icon name={INFRA_TO_ICON[infra]} />
          {INFRA_TO_TITLE[infra]}
        </div>
      ))
    }
    {
      project.data.archived && (
        <div class="badge badge-ghost gap-2">
          <Icon name="lucide:archive" />
          Archived
        </div>
      )
    }
  </div>

  <div class="prose" >
    <Content />
  </div>
</div>
