---
import { ClientRouter } from "astro:transitions";

import type { Page } from "@/shared";
import { languageTag } from "@/paraglide/runtime";
import * as m from "@/paraglide/messages";
import { PAGE_TITLES } from "@/i18n";

import "@/global.css";

interface Props {
  currentPage: Page;
  description?: string;
}

const { currentPage, description } = Astro.props;
---

<!doctype html>
<!-- dir={Astro.locals.paraglide.dir} -->
<html lang={languageTag()} data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{m.fullName()} - {PAGE_TITLES[currentPage]()}</title>
    <ClientRouter />
    <script
      data-goatcounter="https://counter.x0k.online/count"
      async
      src="https://counter.x0k.online/count.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
