---
import { Icon } from "astro-icon/components";

import { getTopStarredActualRepos } from "@/lib/github";
import { github, GITHUB_USERNAME, Page } from "@/shared";
import { localizeHref } from "@/paraglide/runtime";
import * as m from "@/paraglide/messages";

const topRepos = await getTopStarredActualRepos(github, {
  username: GITHUB_USERNAME,
});
---

<ul class="list py-4">
  {
    topRepos.map((repo) => (
      <li class="list-row items-center">
        <Icon
          class="size-8 rounded-xs"
          name={`simple-icons:${repo.language?.toLowerCase()}`}
        />
        <a
          class="list-col-grow"
          target="_blank"
          href={`https://github.com/${GITHUB_USERNAME}/${repo.name}`}
        >
          <div>{repo.name}</div>
          <div class="list-col-wrap text-xs opacity-60">{repo.description}</div>
        </a>
        <span class="badge gap-2">
          <Icon name="lucide:star" />
          {repo.stargazers_count}
        </span>
        <span class="badge gap-2">
          <Icon name="lucide:calendar" />
          {new Date(repo.created_at ?? "").getFullYear()}
        </span>
      </li>
    ))
  }
  <li class="tracking-wide">
    <a
      class="btn btn-ghost w-full"
      href={localizeHref(Page.Projects)}
      >{m.goToProjects()}</a
    >
  </li>
</ul>
